body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, footer {
    background-color: #d4f2f4;
    color: #0b0848;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #0b0848;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
    
#introduction {
    background-color: #F3FDE8;
}
    
#contact {
    background-image: url("https://24.media.tumblr.com/tumblr_mbpaswQ0rk1qbvovho1_500.gif");
    background-repeat: repeat;
    color: black;
    text-align: left;
}
    
.section {
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    font-size: 24px;
    text-shadow: 1px 1px 2px black
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
    
th {
    background-color: #f2f2f2;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius: 50%;
}
    
form {
    max-width: 500px;
    margin: 0;
    text-align: left;
}